body {
    background-color: #353535;
    color: #bcbcbc;
}

.game {
    /* border: 2px solid #454545; */
    width: calc(100vw / 2);
    height: calc(100vw / 2);
    position: absolute;
    top: calc(50% - (100vw / (2 * 2)));
    left: calc(50% - (100vw / (2 * 2)));
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc((100% / 3) - 4px);
    /* text-align: center; */
}

.box img {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.box:nth-child(1) {
    border-bottom: 2px solid #bcbcbc;
    border-right: 2px solid #bcbcbc;
    color: chartreuse;
}

.box:nth-child(2) {
    border-left: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
    border-right: 2px solid #bcbcbc;
}

.box:nth-child(3) {
    border-left: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
}

.box:nth-child(4) {
    border-bottom: 2px solid #bcbcbc;
    border-right: 2px solid #bcbcbc;
    border-top: 2px solid #bcbcbc;
    color: red;
}

.box:nth-child(5) {
    border-left: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
    border-right: 2px solid #bcbcbc;
    border-top: 2px solid #bcbcbc;
}

.box:nth-child(6) {
    border-left: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
    border-top: 2px solid #bcbcbc;
}

.box:nth-child(7) {
    border-right: 2px solid #bcbcbc;
    border-top: 2px solid #bcbcbc;
}

.box:nth-child(8) {
    border-left: 2px solid #bcbcbc;
    border-right: 2px solid #bcbcbc;
    border-top: 2px solid #bcbcbc;
}

.box:nth-child(9) {
    border-left: 2px solid #bcbcbc;
    border-top: 2px solid #bcbcbc;
}

.filter-green{
    filter: invert(81%) sepia(28%) saturate(3390%) hue-rotate(39deg) brightness(106%) contrast(111%);
}

.filter-red{
    filter: invert(9%) sepia(90%) saturate(7160%) hue-rotate(1deg) brightness(123%) contrast(110%);
}